/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/* ==================== custom properties ==================== */

html {
    /* colors */
    --clr-light-blue: 102 226 220;
    --clr-orange: 250 116 83;
    --clr-light-orange: 255 185 100;
    --clr-black: 25 24 38;
    --clr-white: 252 250 249;
    
    /* font-sizes */
    
    --fs-heading: 8.8rem;
    --fs-heading-sub: 4rem;
    --fs-body: 2rem; 
    --fs-body-sub: 1.6rem;

    --lh-heading-sub: 5.2rem;
    --lh-body: 3.4rem;
    --lh-body-sub: 2.6rem;

    --letter-spacing: -0.1rem;


    /* z-index */

    --z-index-top: 10;
    --z-index-middle: 5;
    --z-index-bottom: 1;

    /* border radius */

    --br: 1.2rem;
    
    /* font-families */
    font-family: 'IBM Plex Sans', sans-serif;
}  

body {
    background-color: rgb(var(--clr-white) );
    background-image: url("assets/bg-main-mobile.png");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    /* overflow: hidden; */

}

section {
    overflow: hidden;
    
}

body::-webkit-scrollbar {
    display: none;
}

/* container top */
.container-top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
}

.logo-top {
    margin: 4rem 0;
}

.heading-top {
    font-size: var(--fs-heading-sub);
    font-weight: 700;
    line-height: var(--lh-heading-sub);
    margin-bottom: 2rem;
}

.paragraph-top {
    font-size: var(--fs-body-sub);
    line-height: var(--lh-body-sub);
    margin-bottom: 6.8rem ;
}

/* container middle */

.container-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.element-top {
    display: flex;
    justify-content: center;
    z-index: 5;
}

.element-top >img {
    width: 55.7%;
}

.element-middle {
    display: flex;
    justify-content: center; 
    background-color: rgb(var(--clr-black) );
    width: 100%;
    border-radius: var(--br);
    margin-top: -33.2rem;
    z-index: 1;
}

.element-middle >img {
    width: 74.6%;
}

.element-bottom {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(var(--clr-orange) );
    color: rgb(var(--clr-white) );
    padding: 0 3.7rem;
    border-radius: var(--br);
    margin-top: -4rem;
    z-index: 10;
}

.element-bottom-heading {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
}

.element-bottom-paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 3.6rem;
}

.element-bottom-paragraph > span {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}


/* container bottom */
.container-bottom {
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
}

.logo-bottom {
    margin: 6.4rem 0 3.2rem 0;
}

.text-content-bottom {
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-width: 31ch;
    margin-bottom: 6.4rem;
}

.text-content-bottom > span {
    font-weight: 700;
}

.img-social {
    display: flex;
    gap: 2rem;
    margin-bottom: 8rem;
}



.grid {
    display: grid;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    border-radius: var(--br);
    width: 100%;
}

.btn-android {
    color: rgb(var(--clr-black) );
    background-color: rgb(var(--clr-white) );
    margin-bottom: 4.8rem;
}
.btn-android:hover {
    color: rgb(var(--clr-black) );
    background-color: rgb(var(--clr-light-orange) );
}

.btn-ios {
    color: rgb(var(--clr-white) );
    background-color: rgb(var(--clr-black) );
    margin-bottom: 1.6rem;
}
.btn-ios:hover {
    color: rgb(var(--clr-white) );
    background-color: rgb(var(--clr-light-blue) );
}

@media only screen and (min-width: 768px) {


    body {
        background-image: url("assets/bg-main-tablet.png");
        background-position: top -55.5rem left -60rem;
    }


    /* top selection */

    .container-top {
        background-image: url("assets/bg-pattern-1.svg");
        background-repeat: no-repeat;
        background-position: top -3.2rem right -3.5rem;
    }

    .logo-top {
        margin: 6.2rem 0 9.5rem;
    }
    
    .heading-top {
        
        max-width: 12ch;
    }
    
    .paragraph-top {
        
        margin-bottom: 11.1rem ;
        padding-right: 26.5rem;
    }


    


    /* middle section */

    .container-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 3.3rem;
        max-width: 100vw;
    }
    
    .element-top {
        display: flex;
        margin-right: 30rem;

        z-index: 5;
    }
    
    .element-top >img {
        width: 27rem;
    }


    
    .element-middle {
        display: flex;
        justify-content: center; 
        background-color: rgb(var(--clr-black) );
        border-radius: var(--br);
        margin-top: -41rem;
        z-index: 1;
        padding: 0rem 0 21.9rem;
    
    }
    
    .element-middle >img {
        width: 41%;
        margin-top: -3.5rem;
    }
    
    .element-bottom {
        display: flex;
        flex-direction: column;
        width: 399px;
        background-color: rgb(var(--clr-orange) );
        color: rgb(var(--clr-white) );
        padding: 0 4.4rem;
        border-radius: var(--br);
        margin-right: -18rem;
        margin-top: -44rem;
        z-index: 10;
    }
    
    .element-bottom-heading {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4rem;
        margin-top: 4.8rem;
        margin-bottom: 1.2rem;
    }
    
    .element-bottom-paragraph {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3.6rem;
    }
    
    .element-bottom-paragraph > span {
        font-size: 5.2rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
    } 



    /* bottom section */
    .container-bottom {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 3.3rem;
        padding: 0;
        align-items: center;
        margin-bottom: 8.5rem;
    }

    .bottom-item-1 {
        width: 90vw;
    }
    
    .logo-bottom {
        margin: 6.4rem 0 3.2rem 0;
    }
    
    .text-content-bottom {
        font-size: 1.6rem;
        line-height: 2.6rem;
        max-width: 35ch;
        margin-bottom: 0;
    }
    
    .text-content-bottom > span {
        font-weight: 700;
    }
    
    .img-social {
        display: flex;
        gap: 2rem;
        margin-bottom: 0;
    }

    .item-img-social {
        width: 2rem;
        height: 2rem;
    }

    

}

@media only screen and (min-width: 1366px) {
  
    body {
        background-image: url("assets/bg-main-tablet.png");
        background-position: center;
    }


    /* top selection */

    .container-top {
        background-image: url("assets/bg-pattern-1.svg");
        background-repeat: no-repeat;
        background-position: top -5rem right;
        padding: 0;
    }


    .logo-top {
        margin: 6.2rem 16.5rem 9.5rem 16.5rem;
    }
    
    .heading-top {
        margin: 0 16.5rem 4rem 16.5rem;
        max-width: 20ch;
        font-size: var(--fs-heading);
        line-height: 1;

    }
    
    .paragraph-top {
        margin: 0 16.5rem 11.1rem 16.5rem; 
        padding-right: 28.5rem;
        font-size: 2rem;
        line-height: 3.4rem;
    }


    


    /* middle section */

    .container-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-inline: 16.5rem;
        margin-bottom: 5rem;

    }
    
    .element-top {
        display: flex;
        margin-right: 60rem;
        z-index: 5;
    }
    
    .element-top >img {
        width: 31.2rem;
    }


    
    .element-middle {
        display: flex;
        justify-content: center; 
        background-color: rgb(var(--clr-black) );
        border-radius: var(--br);
        /* margin-left: -10rem; */
        padding-right: 12rem;
        margin-top: -46rem;
        z-index: 1;
        padding-bottom: 20rem;
    
    }
    
    .element-middle >img {
        width: 33.8%;
        margin-top: -3.5rem;
    }
    
    .element-bottom {
        display: flex;
        flex-direction: column;
        width: 446px;
        background-color: rgb(var(--clr-orange) );
        color: rgb(var(--clr-white) );
        padding: 0 4.4rem;
        border-radius: var(--br);
        margin-right: -45rem;
        margin-top: -44rem;
        z-index: 10;
    }
    
    .element-bottom-heading {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4rem;
        margin-top: 4.8rem;
        margin-bottom: 1.2rem;
    }
    
    .element-bottom-paragraph {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3.6rem;
    }
    
    .element-bottom-paragraph > span {
        font-size: 5.2rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
    } 



    /* bottom section */
    .container-bottom {
        /* flex-direction: row;
        flex-wrap: wrap; */
        justify-content: space-between;
        margin: 0 16.5rem 0 16.5rem;
        padding: 0;
        align-items: center;
        margin-bottom: 8.5rem;
    }

    .bottom-item-1 {
        width: auto;
    }
    
    .logo-bottom {
        margin: 6.4rem 0 3.2rem 0;
    }
    
    .text-content-bottom {
        font-size: 1.6rem;
        line-height: 2.6rem;
        max-width: 35ch;
        margin-bottom: 0;
    }
    
    .text-content-bottom > span {
        font-weight: 700;
    }
    
    .img-social {
        display: flex;
        gap: 2rem;
        margin-bottom: 0;
    }

    .item-img-social {
        width: 2rem;
        height: 2rem;
    }


}