/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');



:root {

    /* colors */
    --clr-pink: 322 100% 66%;
    --clr-very-pale-cyan: 193 100% 96%;
    --clr-very-dark-cyan: 192 100% 9%;
    --clr-grayish-blue: 208 11% 55%;


    /* font-families */ 
    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    /* font-size */
    --fs-body: 1.8rem;
}

body {
    font-family: var(--ff-open-sans);
}

/* components */

.btn {

}

.showcase {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--clr-very-pale-cyan));
    background-image: url("images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 7.8rem;
    padding-inline: 1.6rem;
}

.header-logo {
    width: 10.4rem;
}

.header-btn {
    padding: .6rem 2.2rem;
    background-color: white;
    border-radius: 1.2rem;
    font-family: var(--ff-open-sans);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    padding: 3.7rem 3.5rem;
}

.showcase-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.showcase-text > h1 {
    font-family: var(--ff-poppins);
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.btn-primary {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: hsl(var(--clr-pink));
    padding: 1rem 6rem 1.4rem 6rem;
    margin: 3.2rem 3.2rem 5.6rem 3.2rem;
    border-radius: 2rem;
    text-transform: capitalize;
}

.card-container {
    position: relative;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 4rem;
    /* border: solid 1rem hsl(0, 0, 59); */
    margin: 4rem 2rem;
    padding: 6rem 4rem 4rem 4rem;
    /* box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.03); */
    box-shadow: 0 0 1rem 0.5rem hsl(var(--clr-grayish-blue) / 0.1);
    border-radius: 1.6rem;

}

.card * h1 {
    font-family: var(--ff-poppins);
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.card * p {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    color: hsl(var(--clr-grayish-blue));
}

.card-4 {
    flex-direction: column;
    background-color: white;
    padding: 4.1rem 1.2rem;
    gap: 2.4rem;
    justify-content: center;
    margin-top: 12rem;
    margin-bottom: -8rem;
    z-index: 10;
}

.card-4 > h1 {
    font-size: 1.8rem;
    line-height: 3rem;
}

.card-4 > button {
    margin: 0 4.5rem;
}

.card-4 .btn-primary {
    border-radius: 2rem;
    padding: 1.5rem 4rem;
    font-size: 1rem;
}



/* footer */
.footer-container {
    background-color: hsl(var(--clr-very-dark-cyan));
}




